*{
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;    
}
html{
    scroll-behavior: smooth;
}
body{
    background: #0f0f0f;
    color: #fff;
}
/* --------------------SECTIONS------------------- */
.mini-section{
    background-color:#080808;
    height: 40vh;
}
.mini2-section{
    background-color:#080808;
    height: 30vh;
}
.big-section{
    height: 90vh;
}

/* --------------------BUTTONS------------------- */
.button {
    margin-top:60px;
    display: inline-block;
    background-color: #352955;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
    font-weight: 600px;
    text-transform: uppercase;
    transition: .4s;
}
.button:hover {
    background-color: #3f365a;
    transform: scale(1.1);
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------------HOME------------------- */


#header{
  width: 100%;
  height: 100vh;
  background-image: url(./IMG/FondoCV.png);
  background-size: cover;
  background-position: center;
}
.container{
    padding: 10px 10% ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    transition: font-size 0.3s ease-in-out;
}
nav ul li a:hover{
  font-size: 18px; 
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #46219a;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;   
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.highlight{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #46219a, #926bf7, #46219a);
    -webkit-background-image: linear-gradient(to right, #46219a, #926bf7, #46219a);
}
.highlight2{
    color: #6734cc;
}

.center {
    text-align: center;
    align-items: center;
}

/*----- a propos -----*/

#aPropos{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.text{
    text-align: justify;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.experience{
    font-size: 20px;
    font-weight: 600;
}
.col1 {
    flex-basis: 45%;
}
.col2{
    flex-basis: 45%;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #46219a;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.content-tab ul li{
    list-style: none;
    margin: 10px 0;
}
.content-tab{
    display: none;

}
.content-tab.active-tab{
    display: block;
}
/* -----------COMING SOON------------------- */
/* .soon-container{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.subtitle.center {
    letter-spacing: 2px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.subtitle.center::before, .subtitle.center::after{
    content: '';
    padding: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(0);
    animation: spin 6s alternate infinite ease-in-out;
}
.subtitle.center::before{
    border-top: 15px solid #ceb8fb;
    border-left: 15px solid #ceb8fb;

}
.subtitle.center::after{
    border-bottom: 15px solid #ceb8fb;
    border-right: 15px solid #ceb8fb;
    z-index: -1;
}
@keyframes spin{
    100%{
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
 */
/*--------------------------- services-------------------- */


.mini-section .subtitle{

    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .card {
    background-color: #1d1d1d;
    box-shadow: 0px  0px 10px #46219a;
    color: #ababab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 35vh;
    margin: 40px;
  }
  
  .card-icon {
    font-size: 60px;
    color: #ababab;
    margin-bottom: 10px;
  }
  
  .c-title {
    font-size: 25px;
    color: #ababab;
    text-align: center;
  }
  



/* -----------------PORTFOLIO---------------------- */

.big-section .subtitle{
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card2 {
  position: relative;
  width: 320px;
  height: 400px;
  z-index: 2;
  border-radius: 5px;
  transform: scale(0.98);
  transition: transform 200ms ease-in-out, z-index 600ms;
  cursor: pointer;
}
.card2 .content {
  height: 100%;
  width: 100%;
  padding: 16px;
  background: #202530;
  border-radius: 5px;
  overflow: hidden;
}
.card2 .content img {
  width: calc(100% + 32px);
  height: 160px;
  margin: -16px;
  margin-bottom: 16px;
  object-fit: cover;
  object-position: center;
}
.card2::before {
  content: "";
  position: absolute;
  height: 480px;
  width: 480px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  filter: blur(8rem);
  background: conic-gradient(#400e69, #6c3e83, #494572, #352955, #271d30);
  animation: spin-shadow 3s linear infinite;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.card2:hover {
  transform: translateY(-0.5rem);
  z-index: 3;
}
.card2:hover::before {
  opacity: 0.9;
}

@keyframes spin-shadow {
  0% {
    transform: translate(-50%, calc(-50% + 2rem)) scale(0.5) rotate(0deg);
  }
  100% {
    transform: translate(-50%, calc(-50% + 2rem)) scale(0.5) rotate(360deg);
  }
}

/* -------------------------telecharger mon cv------------------------ */


.mini2-section .subtitle{

    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}



/* ----------------CONTACT---------------- */
.contact1{
    flex-basis: 50%;
    margin-left: 50px;
}
.contact2{
    flex-basis: 50%;
}
.contact-section {
    display: flex;
    height: 100vh;
}

.container-form {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 5px;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 60px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 26px;
}

.app-contact {
    margin-top: auto;
    font-size: 14px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    padding-top: 15px;
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #6734cc;
}

.app-form-button {
    padding: 5px;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #6734cc;
}

/* ----------------footer---------------- */


.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #080808;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h3{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}


.footer-col ul li a{
  margin-bottom: 10px;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #2a2144;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	background-color: #2a2144;
}




  














