*{
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;    
}
body{
    background: #080808;
    color: #fff;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(./IMG/FondoCV.png);
  background-size: cover;
  background-position: center;
}
.container{
    padding: 10px 10% ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    transition: font-size 0.3s ease-in-out;
}
nav ul li a:hover{
  font-size: 18px; 
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #46219a;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;   
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.highlight{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #46219a, #926bf7, #46219a);
    -webkit-background-image: linear-gradient(to right, #46219a, #926bf7, #46219a);
}

/*----- a propos -----*/

#aPropos{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.text{
    text-align: justify;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.highlight.experience{
    font-size: 20px;
    font-weight: 600;
}
.col1 {
    flex-basis: 45%;
}
.col2{
    flex-basis: 45%;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #46219a;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.content-tab ul li{
    list-style: none;
    margin: 10px 0;
}
.content-tab{
    display: none;

}
.content-tab.active-tab{
    display: block;
}
.soon-container{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.subtitle.center {
    letter-spacing: 2px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.subtitle.center::before, .subtitle.center::after{
    content: '';
    padding: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(0);
    animation: spin 6s alternate infinite ease-in-out;
}
.subtitle.center::before{
    border-top: 15px solid #926bf7;
    border-left: 15px solid #926bf7;

}
.subtitle.center::after{
    border-bottom: 15px solid #926bf7;
    border-right: 15px solid #926bf7;
    z-index: -1;
}
@keyframes spin{
    100%{
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
.portfolio-container{
    font-size: 60px;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.contact1{
    flex-basis: 50%;
    margin-left: 50px;
}
.contact2{
    flex-basis: 50%;
}
.background {
    display: flex;
    min-height: 100vh;
  }
  
  .container-form {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 5px;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 60px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #813dbd;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #813dbd;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 10px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    padding-top: 15px;
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    padding: 5px;
    background: none;
    border: none;
    color: #813dbd;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #813dbd;
  }
